<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    {{ $title := print .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
	<meta name="description" content="{{ site.Params.Description }}" />
	<link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" href="{{ "/fontawesome/css/fontawesome.css" | relURL }}">
	<link rel="stylesheet" href="{{ "/fontawesome/css/brands.css" | relURL }}">
	<link rel="stylesheet" href="{{ "/fontawesome/css/solid.css" | relURL }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
