<div class='metadata'>
	{{ with .Date }}
		<i class="fa-solid fa-calendar-days"></i>
	  {{ . | time.Format ":date_long" }}
	{{ end }}

	{{ with .PublishDate }}
		<i class="fa-solid fa-calendar-days"></i>
	  {{ . | time.Format ":date_long" }}
	{{ end }}

	{{ with .Params.author }}
	·
	<i class="fa-solid fa-pen"></i>
	<a class="btn btn-sm btn-outline-dark category-btn">{{ . }}</a>
	{{ end }}

	{{ with .Params.categories }}
	{{ $categoryCount := len . }}
	·
	<i class="fa-solid fa-box-archive"></i>
	{{ range $index, $category := . }}
	{{ $href := print (absURL "categories/") (urlize $category) }}
	
	{{ if and (gt $categoryCount 1) (not (eq $index (sub $categoryCount 1))) }}
		<a class="btn btn-sm btn-outline-dark category-btn" href="{{ $href }}">{{ . }}</a>,
	{{ else }}
		<a class="btn btn-sm btn-outline-dark category-btn" href="{{ $href }}">{{ . }}</a>
	{{ end }}
	{{ end }}
	{{ end }}

	{{ with .Params.tags }}
	{{ $tagCount := len . }}
	·
	<i class="fa-solid fa-tags"></i>
	{{ range $index, $tag := . }}
	{{ $href := print (absURL "tags/") (urlize $tag) }}
	
	{{ if and (gt $tagCount 1) (not (eq $index (sub $tagCount 1))) }}
		<a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>,
	{{ else }}
		<a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
	{{ end }}
	{{ end }}
	{{ end }}	
</div>
